div.card-container {
    border-radius: 8px;
    border: 1px solid rgb(82, 82, 82);
    background-color: whitesmoke;

    height: auto;
    width: auto;
    max-width: 25vw;

    margin: 3vh;
}

@media (max-width: 620px) {
    div.card-container {
        max-width: 65vw;
    }
}

.card-content {
    margin: 2vh;
}