* {
    margin: 0px;
}

.App-header {
    background-color: rgb(32, 32, 32);
    color: rgb(224, 224, 224);
}

.App-header > h1 {
    padding: 0.5%;
}

div.Content {
    padding-top: 80px; /* Stop the navbar from covering the content */
    margin: 1% 3% 1% 3%;
}